body {
    background-image: url("Rectangle 18.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    /* Fonts */

    font-family: Arial, Helvetica, sans-serif;
}

li {
    background-color: rgb(255, 255, 255);   
    height: 100px;
    width: 99%;
}

input {
    width: 90%;
    height: 5vh;

    font-weight: bolder;
    color: black;
    text-align: center;

    border: 2px solid black;
}

.Stars {
    color: orange;
}

