* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
}

body {
    /* Rectangle 18 */


    background: conic-gradient(
    from 180deg at 50% 50%,
    #FFFFFF 0deg,
    #BFCEFF 120deg,
    #FFFFFF 240deg,
    #BFCEFF 360deg
  );

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    background-color: white;
    width: 100%;
    min-height: 100px;
}

input {
    display: block;
    width: 90%;
    max-width: 100%;
    height: 48px;
    margin-inline: auto;

    font-weight: bolder;
    color: black;
    text-align: center;
    border: 2px solid black;
}

.Stars {
    color: orange;
}